@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  background-image: url(../img/weed4.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkgreen;
  align-items: center;
  font-size: 25px;
  margin: 40px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  width: 5.2rem;
}

.header-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: inherit;
  color: whitesmoke;
}

.nav {
  margin: 15px;
}

.nav a {
  margin: 15px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1px;
}

.nav a:hover {
  color: goldenrod;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 17px;
  letter-spacing: 1em;
  margin-top: 1.2rem;
  color: aliceblue;
  background-color: green;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.2rem;
  background-color: green;
}

.product {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-top: 1.2rem;
}

.product__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 25px;
  letter-spacing: 1px;

  color: whitesmoke;
}

.product__image {
  margin-top: 1rem;
  height: 205px;
}

.product__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
  font-size: 23px;
  margin-top: 1.2rem;
  color: whitesmoke;
}

.product__description {
  display: flex;
  margin-top: 1rem;
  font-size: 23px;
  color: whitesmoke;
}

.main-registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.input-registration {
  background-color: inherit;
  margin-top: 1.2rem;
  font-size: large;
}

.main-registration button {
  font-size: large;
  letter-spacing: 1px;
  margin-top: 1.2rem;
  font-size: 25px;
  padding: 5px;
  background-color: green;
  color: whitesmoke;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkgreen;
  align-items: center;
  font-size: 25px;
  margin-top: 1.2rem;
  letter-spacing: 1px;
  color: whitesmoke;
}

/** AWESOME ICONS **/

.fa-3x {
  margin-top: 1.2rem;
  color: darkgreen;
}
